$prefix: le-header;

.#{$prefix} {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $main-light;

  &__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
  }

  &__burger{
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 13px;
    margin-right: 15px;

    &:focus{
      outline: none;
    }

    &-bar{
      display: block;
      width: 18px;
      height: 1px;
      background-color: $main-dark;
      transition: all .2s ease-out;

      .#{$prefix}__burger--open &{
        background-color: $secondary-color;
      }

      &:nth-child(1){
        .#{$prefix}__burger--open &{
          transform: rotate(-45deg);
        }
      }

      &:nth-child(2){
        margin: 5px 0;
        .#{$prefix}__burger--open &{
          display: none;
        }
      }

      &:nth-child(3){
        .#{$prefix}__burger--open &{
          transform: rotate(45deg);
        }
      }
    }
  }

  &__menu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: $main-light;
    max-height: 0;
    overflow: hidden;
    margin-top: -1px;
    transition: max-height .2s ease-out;

    &--open{
      max-height: 3050px;
    }

    &-items{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-item{
      text-align: center;
    }

    &-link{
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: $primary-color;
      padding: 20px;
      
      &--active{
        color: $secondary-color;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .#{$prefix}{
    background-color: transparent;

    &__container{
      padding: 0;
    }
    
    &__burger{
      display: none;
    }

    &__menu{
      max-height: none;
      position: static;
      width: 100%;
      padding: 0 15px;
      margin-top: 0;

      &-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-item{
        padding: 10px 0;
      }

      &-link{
        position: relative;
        padding: 10px 0;
        display: flex;
        align-items: center;
    
        &:after{
          content: "";
          position: absolute;
          bottom: 5px;
          left: 50%;
          right: 50%;
          height: 1px;
          background-color: $secondary-color;
          transition: all 0.3s;
        }
    
        &:hover{
          color: $secondary-color;
    
          &:after{
            left: 0;
            right: 0;
          }
        }
    
        &--active{
          font-weight: bold;
        }
      }
    }
  }
}
