$prefix: le-home;

.#{$prefix}{
  padding: 15px;
  &__img{
    display: block;
    max-width: 100%;
  }

  &__text {
    p{
      margin-bottom: 30px;
      line-height: 1.5em;
    }
  }

  &__title{
    font-family: $ff-lora;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 5px;
    color: $primary-color;
  }

  &__subtitle{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
  }

  &__social{
    margin-bottom: 35px;

    &-item{
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      path {
        fill: $main-light;
      }
    }

    &-icon{
      width: 40%;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .#{$prefix}{
    display: flex;

    &__title{
      font-size: 70px;
      margin-top: 0;
    }
    
    &__img{
      width: calc(100% - 70px);

      &-container{
        flex: 0 0 50%;
      }
    }

    &__content{
      flex: 0 0 50%;
    }

    &__social{
      &-item{
        &:hover{
          background-color: $main-light;

          path{
            fill: $secondary-color;
          }
        }
      }
    }
  }
}