$prefix: le-website;

.#{$prefix}{}

@media only screen and (min-width: $desktop-min-width) {
  .#{$prefix}{
    background-image: url(/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  
    &__container{
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
}