// Colors
$main-dark: #505050;
$main-light: #FFF;
$primary-color: #132A46;
$secondary-color: #8CB994;
$grey: #CCC;

$ff-lato: 'Lato', sans-serif;
$ff-lora: 'Lora', serif;

$desktop-min-width: 769px;
$lg-desktop-min-width: 1200px;
